<div class="content" role="main">
  <h1>Assinatura embutida</h1>
  <div [hidden]="showSignature">
    <input class="form-check-input" type="checkbox" id="enableDocPreview"
    [(ngModel)]="disableDocumentPreview" [ngModelOptions]="{standalone: true}" novalidate />
    <label class="form-check-label" for="enableDocPreview">Esconder documento em assinatura</label>

    <hr/>
    <div class="row">
      <button type="submit" class="" (click)="startSignature()">Assinar documento</button>
    </div>
  </div>

  <div class="row" id="whiteboard" [hidden]="!showSignature || afterSigned">
    <div class="card" [ngClass]="disableDocumentPreview ? 'no-document' : 'document'">
      <div class="card-body">
        <div id="embed-container" class="frame-container"
          [ngClass]="disableDocumentPreview ? 'no-document' : 'document'"></div>
      </div>
    </div>
  </div>

  <div class="row-cols-auto" [hidden]="!afterSigned">
    <div class="col-sm-12">
      <div class="row justify-content-center" id="afterSigned">
        <div class="container col-lg-6 p-3 my-3 border rounded-3 bg-white">
          <div class="row justify-content-center">
            <div class="row justify-content-center p-5">
              <div class="col-md-auto">
                <img src="assets/Group 159ok.png" />
              </div>
            </div>
            <div class="col-auto">
              <h4> Sua prescrição foi criada com sucesso!</h4>
            </div>
            <div class="btn-group col-lg-8">
              <button hidden class="btn btn-primary rounded m-2" placeholder="Começar" onclick="download()"
                type="button">BAIXAR PRESCRIÇÃO</button>
              <a class="btn btn-outline-primary rounded btn-custom-outline m-2" routerLink="/home" role="button" onclick="refreshPage()" >NOVA PRESCRIÇÃO</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
