<div class="content" role="main">
  <h3>Bem-vindo ao exemplo de assinatura embutida para Angular</h3>
  <h4>Preencha o formulário abaixo</h4>
  <hr />

  <div id="userFormContainer" *ngIf="!disableForms && !disableAllForms" class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 mx-auto">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="text-md-center">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="data" [(ngModel)]="isChecked"
                    [ngModelOptions]="{standalone: true}" />
                  <label class="form-check-label" for="teste">Certificado de Teste</label>
                </div>
                <div class="row">
                  <a href="https://docs.lacunasoftware.com/pt-BR/articles/pki-guide/test-certs.html"
                    target="_blank">Como usar certificado de teste?</a>
                </div>
              </div>
            </div>
            <div id="fileUploadDiv" class="row" hidden>
              <div class="text-md-center">
                <label for="fileSelector">Escolha um documento específico (opcional): </label>
                <input type="file" id="fileInput" name="fileSelector" accept="application/pdf"
                  (change)="onFileSelected($event)">
              </div>
            </div>
          </div>
        </form>
        <hr />
        <form *ngIf="usuarioPlaceholder && !isChecked" [formGroup]="loginForm">
          <div class="row justify-content-center mb-2 form-group">
            <label for="nome" hidden>Nome do usuário: </label>
            <input id="nome" class="form-control form-rounded"
            placeholder="Nome de usuário: (ex: {{usuarioPlaceholder.nome}})"
            formControlName="nome" required>
            <div *ngIf="nome?.invalid && nome?.dirty">
              Preencha um nome válido antes de continuar
            </div>
          </div>
          <div class="row justify-content-center mb-2">
            <label for="email-input" hidden>Email: </label>
            <input class="form-control form-rounded" id="email-input"
            placeholder="E-mail (ex: {{usuarioPlaceholder.email}})"
            formControlName="email" required minlength="3">
            <div *ngIf="email?.invalid && email?.dirty">
              Preencha o campo de e-mail com um e-mail válido
            </div>
          </div>
          <div class="row justify-content-center mb-2">
            <label for="cpf-input" hidden>CPF: </label>
            <input class="form-control form-rounded" id="cpf-input" name="cpf"
              placeholder="CPF (ex: {{usuarioPlaceholder.cpf | cpf}})" formControlName="cpf" required>
            <div *ngIf="cpf?.invalid && cpf?.dirty">
              O CPF é obrigatório, digite novamente
            </div>
          </div>
        </form>
        <div class="row">
          <div class="text-md-center mt-1 mb-2">
            <button type="submit" class="form-control btn btn-primary btn-clr" [disabled]="!loginForm.valid && !isChecked" (click)="updateProfile()">Login</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="prescriptionFormContainer" *ngIf="disableForms && !disableAllForms" class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 mx-auto form-group">
        <form [formGroup]="prescricaoForm" (ngSubmit)="startSignature()">
          <div class="row justify-content-center mb-2">
            <label for="nome-paciente" hidden>Email: </label>
            <input class="form-control form-rounded" id="nome-paciente" name="nomePaciente"
              formControlName="nomePaciente"
              required placeholder="Nome do paciente (ex: {{receitaPlaceholder.nomeDoPaciente}})">
            <div *ngIf="nomePaciente?.invalid && nomePaciente?.dirty">
              Nome de paciente é obrigatório, digite novamente
            </div>
          </div>
          <div class="row justify-content-center mb-2">
            <label for="nome-medicamento" hidden>CPF: </label>
            <select class="form-select text-md-center" id="nome-medicamento" name="medicamentoOption"
              formControlName="medicamento" required>
              <option [ngValue]="null" disabled selected>Medicamento</option>
              <option *ngFor="let medicamento of receita.medicamento | keyvalue" [value]="medicamento.value">
                {{medicamento.key}}</option>
            </select>
            <div *ngIf="medicamento?.invalid && medicamento?.dirty">
              Selecione um medicamento e tente novamente
            </div>
          </div>
          <div class="row">
            <div class="text-md-center mt-1 mb-2">
              <button type="submit" class="form-control btn btn-primary btn-clr" [disabled]="prescricaoForm.invalid">COMEÇAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="row mx-auto" id="whiteboard" [hidden]="!disableAllForms">
    <div class="card">
      <div class="card-body">
        <div id="embed-container" class="frame-container"></div>
      </div>
    </div>
  </div>
</div>
