

<!-- Toolbar -->
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
      <div class="container">
          <a class="navbar-brand" routerLink="/home" (click)="refreshPage()"><img class="navbar-img" src="assets/Group 174PrescricaoOnline.png" /></a>

      </div>
      <ul class="navbar-nav navbar-group">
          <li class="nav-item">
              <a href="https://docs.lacunasoftware.com/pt-BR/index.html" class="btn btn-outline-primary m-lg-2 btn-custom-outline" role="button">SOBRE NÓS</a>
          </li>
          <li class="nav-item">
              <a class="btn btn-primary btn-clr m-lg-2"  routerLink="/home" (click)="refreshPage()" role="button">CRIAR PRESCRIÇÃO</a>
          </li>
      </ul>

  </nav>
</header>
<div>
  <router-outlet></router-outlet>
 </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

